* {
    margin: 0;
    padding: 0;
  
  }
  
  
  /* #esquerda1{ 
  
          border: 1px solid black
  
      }
      #esquerda2{
  
          border:  1px solid black;
      }
  
     */
  /* body{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  } */

  /* body{
    display: flex;
    
  } */
  
  .container{
display: grid;
/* column-gap: 0px; */
row-gap: 20px;


  }
  
  img {
    width: 190px;
    height: 150px;
    border-radius: 15px
  
  }
  #logo{
    width: 130px;
    height: 90px;
    border-radius: 20px

  }
  
  
  #formulário {
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  #lista1 {
    display: grid;
  justify-items: center;
    background-color: rgb(234, 234, 241);
    border-radius: 10px
  }
  
  
  
  #lista2{
    display: grid;
    justify-items: center;
    background-color: rgb(234, 234, 241);
    border-radius: 10px
  }
  
  #lista3{
    display: grid;
    justify-items: center;
    background-color: rgb(234, 234, 241);
    border-radius: 10px
  }
  
  li {
    display: grid;
    justify-items: flex-start;
    align-items: flex-start;
  }
  
  header {
    display: grid;
    justify-items: flex-start;
    align-items: center;
    border: 1px solid black;
    position: sticky;
    top: 0%;
    margin: 10px;
    border: 1px solid black;
    padding: 20px;
    color: white;
    background-color: dimgray;
  
  }
  
  main {
    display: grid;
    justify-items: center;
    /* align-items: center; */
    border: 1px solid black;
    margin: 10px;
    padding: 5px;
    color: #0F4C5C;
    background-color: rgb(40, 46, 46);
    height: 1000px;
  
  }
  
  section {
  
    margin: 10px;
    padding: 5px;
    color: black;
    /* width: 75%; */
    /* border: 1px solid rgb(224, 9, 9); */
  
  
  }
  
  
  /*  
    article{
      margin: 10px;
      border: 1px solid #FB8B24;
      padding: 5px;
      height: 150px;
      color:#498467;
    }
  
    */
  /* 
    aside{
      margin: 10px;
      border: 1px solid #9A031E;
      padding: 5px;
      color: #9A031E;
      width: 20%;
    }
     */
  
  footer {
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
    color: white;
    background-color: dimgray;
    position: sticky;
    bottom: 0%;
  }
  
  
  
  @media screen and (max-device-width : 800px){
  
  
   main {
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: rgb(82, 78, 78);
  }
  
  header {
    display: grid;
    justify-items: center;
    align-items: center;
  

}
  
  }